<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DiscordToken" value="token" />
    <add key="OpenAiKey" value="key" />
    <add key="SpeechToTextKey" value="key" />
    <add key="SpeechToTextRegion" value="centralus" />
    <add key="SpeechLanguageCode" value="en-US" />
    <add key="TtsVoice" value="Microsoft David Desktop" />
    <add key="WelcomeMessage" value="Hello, how are you?" />
  </appSettings>
</configuration>
